{% extends 'base.html.twig' %}

{% block body %}
{% for annonceAbout in aboutPage %}
<div class="row">
<div class="col">
<img  src={{asset('./upload/'~ annonceAbout.image)}} class="d-block" alt="...">
</div>
<div class="col">
<p>{{annonceAbout.description}}</p>
</div>
</div>
{% endfor %}

{% endblock %}
