{% extends 'base.html.twig' %}

{% block body %}

		<div class="d-flex justify-content-center">
		 <div>
		  {% for AnonnceGraphism in GraphismPage %}
							<div class="col">
								<img  src={{asset('./upload/'~ AnonnceGraphism.media)}} class="d-block w-30" alt="...">
							</div>
          {% endfor %}
		 </div>
		<div class="navigation">
		   {{knp_pagination_render(GraphismPage,'pagination.html.twig')}}
		</div>
		</div>
{% endblock %}
