{% extends 'base.html.twig' %}

{% block body %}
	
		<div id="tous-les-graphism">
		  {% for AnnonceGraphism in GraphismPage %}
						<div class="images-des-graphism"  id="carre{{loop.index}}">
									<a href={{path('graphism_single', {id:AnnonceGraphism.id})}}><img  src={{asset('./upload/'~ AnnonceGraphism.media)}}  alt="..."></a>
							</div>
          {% endfor %}
		  </div>
		<div class="navigation">
		   {{knp_pagination_render(GraphismPage,'pagination.html.twig')}}
		</div>
		
{% endblock %}
