{% extends 'base.html.twig' %}

{% block title %}Hello GraphismController!{% endblock %}

{% block body %}
  {% for AnonnceGraphism in GraphismList %}
                <div class="dropdown-item">{{AnonnceGraphism.title}}</div>
           {% endfor %}
{% endblock %}
