.about-page {
    margin-top: 25px;
    font-size: 1.5rem;
    color: whitesmoke;
}

.logo-about {
    width: 200px;
    height: 200px;
}
.titre-about{
    color: whitesmoke;
    margin-top: 50px;
}

.text-about{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}
