{% extends 'base.html.twig' %}

{% block body %}
	<div id="tous-les-designs">
		{% for AnnonceDesign in DesignPage %}
			<div class="images-des-designs"  id="carre{{loop.index}}">
				<img src={{asset('./upload/'~ AnnonceDesign.media)}} alt="...">
			</div>
		{% endfor %}
		{#{% do DesignPage.setPageRange(2) %}#}
		</div>
		<div class="navigation">
			{{knp_pagination_render(DesignPage,'pagination.html.twig')}}
		</div>
	
{% endblock %}
